.cardset-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
  }
  
  .card-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }
  .cardset-header{
    color:#f9f9f9;
  }
  .card-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
  }
  
  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-card {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 1rem;
  }