.add-cardset,
.edit-cardset {
  margin-top: 2rem;
}
.cardsetlist-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardset-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cardset-item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .cardset-link {
    flex-grow: 1;
    text-align: left;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
  }
  .add-card {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }