.learning-container {
    max-width: 1200px;
    background-color: #ccc;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    margin-top: 200px;
    border-radius: 10px;
  }
  
  .learning-border{
    margin-top: 40px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .wrong-title {
    color:#f9f9f9;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: transform 0.6s ease;
  }
  
  .card.flipped {
    transform: rotateY(360deg);
  }

  .learning-table {
    display: grid;
    row-gap: 10px;
  }

  .empty-cardset-container {
    display: flex;
    width: 25%;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .empty-cardset-p {
    color:#ccc;
  }